header {
    background-color: #222;
    color: white;
}

header .container {
    /* display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 25px auto 25px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 15px;
}

.title-container {
    font-size: 1.5em;
    /* grid-area: 2 / 2 / 3 / 3; */
}