.App {
  background-image: url('./assets/topography.svg');
  min-height: 100vh;
}

main {
  background-color: pink;
}

footer {
  background-color: blue;
}

.container {
  max-width: 970px;
  margin: 0 auto;
}